<section class="container">
  <a><i style="font-size:x-large; color: red;" class="fa fa-plus"
      aria-hidden="true"></i></a>
  <ul class="products">
    <li class="row">
      <div class="col left">
        <div class="thumbnail">
          <a href="#">
            <img src="/assets/hinh1.jpg" style=" width: 100px;height: 150px;" alt="" />
          </a>
        </div>
        <div class="detail">
          <div class="name"><a href="#">{{employee[0].name}}</a></div>
          <div class="">
            Địa chỉ : {{employee[0].address}}
          </div>
          <div class="phone">{{employee[0].phone}}</div>
        </div>
      </div>

      <div class="col right">
        <a style="color: rgb(1, 228, 31);  margin-right: 20px;"class="btn btn-success"><i
            style="font-size:x-large;" class="fa fa-pencil"
            aria-hidden="true"></i></a>
        <a style="color: rgb(51, 9, 9);" class="btn
          btn-danger"><i style="font-size:x-large;" class="fa fa-trash"
            aria-hidden="true"></i></a>
      </div>
    </li>
    <li class="row">
      <div class="col left">
        <div class="thumbnail">
          <a href="#">
            <img src="/assets/hinh2.jpg" style="width: 100px;height: 150px;" alt="" />
          </a>
        </div>
        <div class="detail">
          <div class="name"><a href="#">{{employee[1].name}}</a></div>
          <div class="addess">
            Địa chỉ: {{employee[1].address}}
          </div>
          <div class="phone">{{employee[1].phone}}</div>
        </div>
      </div>

      <div class="col right">
        <a style="color: rgb(1, 228, 31); margin-right: 20px; "class="btn btn-success" ><i
            style="font-size:x-large;" class="fa fa-pencil"
            aria-hidden="true"></i></a>
        <a style="color: rgb(51, 9, 9); " class="btn
          btn-danger"><i style="font-size:x-large;" class="fa fa-trash"
            aria-hidden="true"></i></a>


      </div>
    </li>

  </ul>
</section>
