
<section class="container">
  <h3 appMyColor>{{message}}</h3>
  <a [routerLink]="['/employeeForm',0]" routerLinkActive="router-link-active"  ><i style="font-size:x-large; color: red;" class="fa fa-plus"
      aria-hidden="true"></i></a>
  <ul class="products">
    <li class="row" *ngFor="let item of employee">
      <div class="col left">
        <div class="thumbnail">
          <a href="#">
            <img src="/assets/{{item.img}}" style=" width: 100px;height: 150px;" alt="" />
          </a>
        </div>
        <div class="detail">
          <div class="name"><a href="#">{{item.name | uppercase}}</a></div>
          <div class="">
            Địa chỉ : {{item.address}}
          </div>
          <div class="phone">{{item.phone}}</div>
        </div>
        <div class="col ">
          <p >{{item.age}} </p>
        </div>
      </div>

      <div class="col right">
        <a style="color: rgb(1, 228, 31);  margin-right: 20px;"class="btn btn-success" (click)="editEmployee(item.id)" > <i
            style="font-size:x-large;" class="fa fa-pencil"
            aria-hidden="true"></i></a>
        <a style="color: rgb(51, 9, 9);" class="btn
          btn-danger" (click)="xoaEmployee(item.id)"><i style="font-size:x-large;" class="fa fa-trash"
            aria-hidden="true"></i></a>
      </div>

    </li>
  </ul>
  <!-- <p >{{employee|json}}</p> -->
</section>

