
<main>
  <div class="row" style="margin: 0px;">
    <div class="col-3" style=" margin:0px;padding: 0px;">
      <app-header  class="sidenav"  id="mySidenav"></app-header>
      <span style="font-size:30px;cursor:pointer " (click)="openNav()">&#9776; </span>
    </div>
    <div class="col-9 main text-center" style=" margin:0px;padding: 0px;min-height: 720px;">
      <!-- <h1>{{title}}</h1>
      <h4 appMyColor>{{message}}</h4> -->
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>




</main>

