<footer class="container"  style="background-color: white; margin-top: 30px;">
  <div class="footer-top ">
          <div class="row ">
              <div class="col-md-6 col-lg-6 footer-about wow fadeInUp ">
                  <img class="logo-footer " src="./assets/LLogo.png" style="height: 130px;width: 360px" alt="logo-footer " data-at2x="assets/img/logo.png ">
                  <p>
                     Welcome to website
                  </p>

              </div>
              <div class="col-md-6 col-lg-5 offset-lg-1 footer-contact wow fadeInDown ">
                  <h3>Contact:</h3>
                  <p><i class="nc-icon nc-favourite-28 "></i>Address: 61/7 Đường 104, Tăng Nhơn Phú A,Q9</p>
                  <p><i class="nc-icon nc-favourite-28  "></i> Phone: 0327248445</p>
                  <p><i class="nc-icon nc-favourite-28  "></i> Email: <a href="mailto:hello@domain.com ">phantrang011220@gmail.com</a></p>
                  <p><i class="nc-icon nc-favourite-28 "></i> Skype: phantrang0112</p>
              </div>
          </div>
  </div>

</footer>
