<div class="container">
  <!-- <h1> Thêm nhân viên</h1> -->
  <!-- <label for="name">Name: </label>
  <input id="name" type="text" [formControl]="name"/> -->
  <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

    <div *ngIf="name.errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="name.errors?.['minlength']">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.errors?.['forbiddenName']">
      Name cannot be Bob.
    </div>
    </div> -->
  <!-- <p>Value: {{ name.value }}</p> -->
  <h1>{{title}}</h1>
  <h5 appMyColor>{{message}}</h5>
  <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()"  >
    <div class="justify-content-center text-center mt-3">
      <img src="/assets/{{this.addEmployeeForm.controls.img.value}}" style="position: relative;"
        class="rounded-circle" alt="Cinque Terre" width="150"
        height="150" />
      <button
        style="width: 30px; height: 30px; position: absolute; left: 62%; top: 35%; background: transparent; border: none;" (click)="changeImg()">
        <i class="fa fa-camera"></i>
      </button>
    </div>
    <br>
    <br><br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label >Fullname</mat-label>
      <input id="first-name" class="col-6" type="text" matInput
        formControlName="name" [errorStateMatcher]="matcher" [readonly]="display"/>
      <mat-error *ngIf="addEmployeeForm.controls.name.hasError('required')">
        * <strong>họ và tên!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="id==0" class="example-full-width" appearance="fill">
      <mat-label >username</mat-label>
      <input id="username" class="col-6" type="text" matInput
        formControlName="username" [errorStateMatcher]="matcher" [readonly]="display"/>
      <mat-error *ngIf="addEmployeeForm.controls.username.hasError('required')">
        * <strong>username!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="id==0" class="example-full-width" appearance="fill">
      <mat-label >Password</mat-label>
      <input id="password" class="col-6" type="text" matInput
        formControlName="password" [errorStateMatcher]="matcher"[readonly]="display" />
      <mat-error *ngIf="addEmployeeForm.controls.password.hasError('required')">
        * <strong>họ và tên!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Phone</mat-label>
      <input class="col-6" id="last-name" type="text" matInput
        formControlName="phone" [errorStateMatcher]="matcher" [readonly]="display">
      <mat-error *ngIf="addEmployeeForm.controls.phone.hasError('maxLength')!=null">
        *Số điện thoại phải có 10 chữ số
      </mat-error>

      <mat-error *ngIf="addEmployeeForm.controls.phone.hasError('required')">
        *Thêm <strong>số điện thoại!</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <input id="last-name" class="col-6" type="text" matInput
        formControlName="address" [errorStateMatcher]="matcher"[readonly]="display">
      <mat-error *ngIf="addEmployeeForm.controls.address.hasError('required')">
        *Thêm <strong>địa chỉ!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Img</mat-label>
      <input class="col-6" id="last-name" type="text" matInput
        formControlName="img" [errorStateMatcher]="matcher">
      <mat-error *ngIf="addEmployeeForm.controls.img.hasError('required')">
        *Thêm <strong>hình!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br> -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Age</mat-label>
      <input type="number" matInput formControlName="age"
        [errorStateMatcher]="matcher"[readonly]="display">
      <mat-error *ngIf="addEmployeeForm.controls.age.hasError('min') ||
        addEmployeeForm.controls.age.hasError('max')">
        *Tuổi phải lớn hơn 0 và nhỏ hơn 100!
      </mat-error>
      <mat-error *ngIf="addEmployeeForm.controls.age.hasError('required')">
        *Thêm <strong>Tuổi!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-primary"
      [disabled]="!addEmployeeForm.valid">Submit</button>
  </form>

  <!-- <button (click)="updateName()">Update Name</button> -->
</div>
