<div class="container">
  <h4> Thêm nhân viên</h4>
  <!-- <label for="name">Name: </label>
  <input id="name" type="text" [formControl]="name"/> -->
  <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

    <div *ngIf="name.errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="name.errors?.['minlength']">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.errors?.['forbiddenName']">
      Name cannot be Bob.
    </div>
    </div> -->
  <!-- <p>Value: {{ name.value }}</p> -->
  <h2 appMyColor>{{message}}</h2>
  <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Họ và tên</mat-label>
      <input id="first-name" class="col-6" type="text" matInput
        formControlName="name" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="addEmployeeForm.controls.name.hasError('required')">
        *Thêm <strong>họ và tên!</strong>
      </mat-error>
    </mat-form-field>

    <br>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Số điện thoại</mat-label>
      <input class="col-6" id="last-name" type="text" matInput
        formControlName="phone" [errorStateMatcher]="matcher">
      <mat-error *ngIf="addEmployeeForm.controls.phone.hasError('maxLength')!=null">
        *Số điện thoại phải có 10 chữ số
      </mat-error>

      <mat-error *ngIf="addEmployeeForm.controls.phone.hasError('required')">
        *Thêm <strong>số điện thoại!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Địa chỉ</mat-label>
      <input id="last-name" class="col-6" type="text" matInput
        formControlName="address" [errorStateMatcher]="matcher">
      <mat-error *ngIf="addEmployeeForm.controls.address.hasError('required')">
        *Thêm <strong>địa chỉ!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Img</mat-label>
      <input class="col-6" id="last-name" type="text" matInput
        formControlName="img" [errorStateMatcher]="matcher">
      <mat-error *ngIf="addEmployeeForm.controls.img.hasError('required')">
        *Thêm <strong>hình!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Age</mat-label>
      <input type="number" matInput formControlName="age"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="addEmployeeForm.controls.age.hasError('min') ||
        addEmployeeForm.controls.age.hasError('max')">
        *Tuổi phải lớn hơn 0 và nhỏ hơn 100!
      </mat-error>
      <mat-error *ngIf="addEmployeeForm.controls.age.hasError('required')">
        *Thêm <strong>Tuổi!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-primary"
      [disabled]="!addEmployeeForm.valid">Submit</button>
  </form>

  <!-- <button (click)="updateName()">Update Name</button> -->
</div>
