<div class="container">
  <h4> Thêm nhân viên</h4>
  <!-- <label for="name">Name: </label>
  <input id="name" type="text" [formControl]="name"/> -->

  <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

    <div *ngIf="name.errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="name.errors?.['minlength']">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.errors?.['forbiddenName']">
      Name cannot be Bob.
    </div>
    </div> -->
    <!-- <p>Value: {{ name.value }}</p> -->
    <h2  appMyColor>{{message}}</h2>
    <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
    <div class="row">
      <label for="first-name" class="col-2">Name: </label>
      <input id="first-name" class="col-6"  type="text" formControlName="name" required/>
      <span class="col-4" *ngIf="addEmployeeForm.controls.name.invalid" appMyColor>
        *Nhập Tên nhân viên!
      </span>
    </div>

      <br>
      <br>
      <div class="row">
        <label class="col-2" for="last-name" >Phone: </label>
        <input class="col-6" id="last-name"  type="text" formControlName="phone" required>
        <span class="col-4" *ngIf="addEmployeeForm.controls.phone.invalid" appMyColor>
          *Thêm số điện thoại!
        </span>
      </div>
      <br>
      <br>
      <div class="row">
      <label for="last-name" class="col-2">Address: </label>
      <input id="last-name" class="col-6" type="text" formControlName="address" required>
      <span class="col-4"  *ngIf="addEmployeeForm.controls.address.invalid" appMyColor>
        *Cần nhập địa chỉ!
      </span>
      </div>
      <br>
      <br>
      <div class="row">
      <label class="col-2" for="last-name">img: </label>
      <input class="col-6" id="last-name" type="text" formControlName="img" required>
      <span class="col-4"  *ngIf="addEmployeeForm.controls.img.invalid" appMyColor>
        *Thêm hình!
      </span>
    </div>
      <br>
      <br>
      <div class="row">
      <label class="col-2" for="last-name">age: </label>
      <input class="col-6" id="last-name" type="text" formControlName="age" required>
      <span class="col-4"  *ngIf="addEmployeeForm.controls.age.invalid" appMyColor>
        *Thêm tuổi!
      </span>
    </div>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="!addEmployeeForm.valid">Thêm Nhân Viên</button>
    </form>

    <!-- <button (click)="updateName()">Update Name</button> -->
  </div>
